{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
   Changge Password
{% endblock %}

{% block content %}
<div class="container jumbotron changePasswordFormContainer">
    <h1 class="display-4 text-center">Change Password</h1>
    <div class="form-group changePasswordForm">
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-secondary">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}