{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
    Create a New Profile Page
{% endblock %}

{% block content %}
    <div class="container jumbotron createProfilePageFormContainer">
        {% if user.is_authenticated %}

            <div class="form-group createProfilePageForm">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-secondary">Create Profile Page</button>
                </form>
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <h1 class="display-4">You're not allowed here! (and you know it...)</h1>
            </div>


        {% endif %}
    </div>
{% endblock %}