{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
    Create a New Profile Page
{% endblock %}

{% block content %}
    <header class="masthead" style="background-image: url(
            {% block header %}'/static/epicapp/images/slide1.jpg') {% endblock %}">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <div class="container createProfilePageFormContainer">
                            {% if user.is_authenticated %}

                                <div class="form-group createProfilePageForm text-left">
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% bootstrap_form form %}
                                        <button class="btn btn-secondary">Create Profile Page</button>
                                    </form>
                                </div>
                            {% else %}
                                <div class="alert alert-danger" role="alert">
                                    <h1 class="display-4">You're not allowed here! (and you know it...)</h1>
                                </div>


                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}