{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
    Edit Profile
{% endblock %}

{% block content %}
    <header class="masthead" style="background-image: url(
            {% block header %}'/static/epicapp/images/profile-settings.jpg') {% endblock %}">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="edit__profile__form">
                        <div class="container profileSettingsFormContainer">
                            <h2 class="display-4 text-center">Update Pprofile</h2>
                            <h4 class="display-6 text-center">{{ user.profile.bio|truncatechars:25 }}</h4>
                            <div class="form-group profileSettingsForm text-left">
                                <form method="POST">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <button class="btn btn-secondary">Update</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}