{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
    Login
{% endblock %}

{% block content %}
    <header class="masthead" style="background-image: url(
  {% block header %}'/static/epicapp/images/headerlogin.jpg') {% endblock %}">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <div class="container text-center loginFormContainer">
    <h1 class="display-4">Login</h1>
    <div class="form-group loginForm text-left">
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-secondary">Login</button>
        </form>
    </div>
    </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}