{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
    Register
{% endblock %}

{% block content %}
    <header class="masthead" style="background-image: url(
            {% block header %}'/static/epicapp/images/slide1.jpg') {% endblock %}">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="registration__form__heading">
                        <div class="container  registerFormContainer">
                            <h1 class="display-4 text-center">Register</h1>
                            <div class="form-group registerForm text-left">
                                <form method="POST">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
{#                                    {{ form.as_p }}#}
                                    <button class="btn btn-secondary">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}