*
  box-sizing: border-box
body
  background-color: whitesmoke
html
  font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif, Serif
ul li
  list-style: none
.post_title
  text-transform: capitalize
a:hover
  text-decoration: none
.post-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly


.post-object
    margin: 1rem 0


.post-box
    background-color: #F1F3Fa
    transition: .2s ease-in-out

.post-box:hover
    cursor: pointer
    transform: scale(1.02)

