<footer class="footer">
    <div class="row-footer">
        <div class="col-1-of-2 footer-left">
            <div class="footer__navigation">
                <ul class="footer__list">
                    <li class="footer__item"><a href="https://www.linkedin.com/in/alexandru-ghita-876178106/" class="footer__link" target="_blank">LinkedIn</a></li>
                    <li class="footer__item"><a href="https://github.com/GhitaAlexandruIon" class="footer__link" target="_blank">GitHub</a></li>
                    <li class="footer__item"><a href="https://skillvalue.com/en/user/profile" class="footer__link" target="_blank">Skillvalue</a></li>
                    <li class="footer__item"><a href="{% url 'cookie' %}" class="footer__link" target="_blank">Cookie</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
                </ul>
            </div>
        </div>
        <div class="col-1-of-2 footer-right">
            <p class="footer__copyright">
                Copyright &copy; by <a href="https://ghitaalexandruion.pythonanywhere.com/" class="footer__link" target="_blank">Ghita Alexandru</a>
            </p>
        </div>
    </div>
</footer>
