{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
    Add Category
{% endblock %}

{% block content %}
    <header class="masthead" style="background-image: url(
        {% block header %}'/static/epicapp/images/slide1.jpg') {% endblock %}">
    <div class="overlay"></div>
    <div class="container">
        <div class="row" >
            <div class="col-lg-8 col-md-10 mx-auto" >
                <div class="category__form__heading" >
                    <h3>Add your own categories: {{ user.first_name }} {{ user.last_name }}!</h3>
                    <hr>
                    <div class="container ">
                        {% if user.is_authenticated %}
                            <div class="form-group addCateoryForm text-left">
                                <form method="POST">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <button class="btn btn-secondary btn-lg">Add Category</button>
                                </form>
                            </div>
                        {% else %}
                            <h1>You're not allowed here! (and you know it...)</h1>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}