{% extends 'base.html' %}
{% block title %}
    Blog Categories
{% endblock %}
{% block content %}
     <div class="jumbotron jumbotron-fluid" id="headerBlog">
        <div class="container text-center">
            <h1 class="display-4">List of all Categories</h1>
        </div>
    </div>
    <div class="container">
    <div class="row">
    {% for item in cat_menu_list %}
        <div class="col-sm-2">
        <a class="btn btn-success" href="{% url 'category' item %}">{{ item }}</a>
        </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}