{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'header.html' %}
    {% for post in object_list %}
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-preview">
                        <h3 class="title_post">
                            <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
                        </h3>
                        <small class="sub_title">Posted by
                            <a href="{% url 'show_profile'  post.author.profile.id %}">{{ post.author.first_name }}-{{ post.author.last_name }}</a>

                            <a class="category" href="{% url 'category' post.category %}">#{{ post.category }}</a>
                            <a class="" href="#">
                                <span class="badge reaction__count "><i>{{ post.comments.count }}</i> <em>comment{{ post.comments.count|pluralize }}</em></span> </a>
                                <a href="#">
                                    <span class="badge reaction__count "><i>{{ post.total_likes }}</i> <em>like{{ post.total_likes|pluralize }}</em> </span>
                                </a>
                        </small>
                        <p class="lead">{{ post.snippet }}</p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    {% endfor %}
    {% include 'pagination.html' %}
{% endblock %}