{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ post.title_tag }}
{% endblock %}
{% block content %}
    <header class="masthead" style="background-image: url('{{ post.header_image.url }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>{{ post.title }}</h1>
                        <span class="subheading">By: {{ post.author.first_name }} {{ post.author.last_name }} | {{ post.post_date }}</span>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    <p>{{ post.body|safe }}</p>
                    <div class="container">


                        <form action="{% url 'like_post' post.pk %}" method="POST">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                                {% if liked %}
                                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger">
                                        UnLike
                                    </button>
                                    <span class="btn btn-sm btn-primary">{{ post.total_likes }} - like</span>
                                {% else %}
                                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">
                                        <span class="badge badge-light">{{ post.total_likes }}</span> Like
                                    </button>
                                {% endif %}
                            {% else %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    Must be logged in to like a post
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        </form>
                        <br>
                        <a class="btn btn-secondary" href="{% url 'home' %}">Back</a>
                        {% if user.is_authenticated %}
                            {% if user.id == post.author.id %}
                                <a class="btn btn-sm btn-info editButton"
                                   href="{% url 'update_post' post.pk %}">Edit</a>
                                <a class="btn btn-sm btn-danger deleteButton"
                                   href="{% url 'delete_post' post.pk %}">Delete</a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <hr>


                    <div class="container">
                        <div class="row">
                            <div class=" col-sm-8 col-md-6 auto-max text-center">
                                <h3 class="display-4">PROFILE</h3>
                                <div class="profile-card-wrapper">

                                    <div class="profile-card profile-two">

                                        <div class="profile-card-image profile-img--two">
                                            {% if post.author.profile.profile_pic %}
                                                <img src="{{ post.author.profile.profile_pic.url }}" class="card-img"
                                                     alt="...">
                                            {% else %}
                                                <img src="{% static 'epicapp/images/default.png' %}" class="card-img"
                                                     alt="...">
                                            {% endif %}
                                        </div>

                                        <ul class="social-icons">
                                            <li>
                                                {% if post.author.profile.github %}
                                                    <a class="social-link" href="{{ post.author.profile.github }}"
                                                       target="_blank">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                {% endif %}
                                            </li>
                                            <li>
                                                {% if post.author.profile.linkedin %}
                                                    <a class="social-link" href="{{ post.author.profile.linkedin }}"
                                                       target="_blank">
                                                        <i class="fab fa-linkedin "></i>
                                                    </a>
                                                {% endif %}
                                            </li>
                                            <li>
                                                {% if post.author.profile.instagram %}
                                                    <a class="social-link" href="{{ post.author.profile.instagram }}"
                                                       target="_blank">
                                                        <i class="fab fa-instagram"></i>

                                                    </a>
                                                {% endif %}
                                            </li>
                                            <li>
                                                {% if post.author.profile.facebook %}
                                                    <a class="social-link" href="{{ post.author.profile.facebook }}"
                                                       target="_blank">
                                                        <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                {% endif %}
                                            </li>
                                        </ul>

                                        <div class="details profile-title-container">
                                            <h2>{{ post.author.first_name }} {{ post.author.last_name }}
                                                <br>
                                                <span class="profile-description">{{ post.author.profile.bio }}</span>
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-6 auto-max">
                                {#    COMMENTS#}
                                <h2 class="display-4" style="margin-top: 0">Comments</h2>
                                {% if not post.comments.all %}
                                    <h6 class="text-muted">No comments yet</h6>
                                    <a class="btn btn-primary" href="{% url 'add_comment' post.pk %}">Add comment</a>
                                {% else %}
                                    <a class="btn btn-primary" href="{% url 'add_comment' post.pk %}">Add comment</a>
                                    <br>
                                    <hr>
                                    {% for comment in post.comments.all %}
                                        <h5>{{ comment.name }} | <small>{{ comment.date_added }}</small></h5>
                                        <p>{{ comment.body }}</p>
                                        <hr>

                                    {% endfor %}
                                    {#                                    <a href="{% url 'add_comment' post.pk %}">Add comment</a>#}

                                {% endif %}
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </article>

{% endblock %}



