{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
    Edit Blog Post
{% endblock %}

{% block content %}
    <header class="masthead" style="background-image: url(
            {% block header %}'/static/epicapp/images/update-post.jpg') {% endblock %}">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="update__post__form__heading">
                        <h4 class="display-4">Edit your post</h4>
                        <div class="container ">
                            {% if user.is_authenticated %}
                                {% if user.id == post.author.id %}
                                    <div class="form-group text-left">
                                        <form method="POST">
                                            {% csrf_token %}
                                            {{ form.media }}

                                            {% bootstrap_form form %}

                                            <button class="btn btn-secondary">Update</button>
                                        </form>
                                    </div>
                                {% endif %}
                            {% else %}
                                <h1>You're not allowed here! (and you know it...)</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>



{% endblock %}