{% extends 'base.html' %}
{% block title %}
    Edit Blog Post
{% endblock %}

{% block content %}

     <div class="jumbotron jumbotron-fluid" id="headerBlog">
        <div class="container text-center">
            <h4 class="display-4">Edit your post</h4>
        </div>
    </div>
    <div class="container jumbotron" style="background-color: #1b86e5">
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Update</button>
                </form>
            </div>
        {% endif %}
        {% else %}
            <h1>You're not allowed here! (and you know it...)</h1>
    {% endif %}
    </div>
{% endblock %}